* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 0.5rem 0;
}

li{
    margin: 0.5rem 0;
}

i{
    margin-left: 0.5rem;
    cursor: pointer;
}

/* Utilities */

.checked{
    text-decoration: line-through;
}

.container{
    width: fit-content;
    margin: 0 auto;
}
